@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
    background-color:#0f0e13;
    background-image:
            radial-gradient(at 0% 0%, hsl(150, 2%, 76%) 0, transparent 50%),
            radial-gradient(at 50% 0%, hsl(224, 7%, 68%) 0, transparent 50%),
            radial-gradient(at 100% 0%, hsl(0, 0%, 92%) 0, transparent 50%);
}

.gradient-bg-services {
    background-color:#0f0e13;
    background-image:
            radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),
            radial-gradient(at 50% 100%,  hsla(0, 0%, 100%, 0.58) 0, transparent 20%);
}

.gradient-bg-transactions {
    background-color: #0f0e13;
    background-image:
            radial-gradient(at 50% 0%, hsla(0, 0%, 100%, 0.58) 0, transparent 20%);
}

.gradient-bg-footer {
    background-color: #0f0e13;
}

.blue-glassmorphism {
    background: rgba(255, 255, 255, 0.87);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(236, 229, 229, 0.24);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(252, 252, 252, 0.88);
}

/* white glassmorphism */
.white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
    background-color: #f1ecf0;
    background-image:
        radial-gradient(at 48% 5%, hsl(60, 17%, 89%) 0, transparent 59%),
        radial-gradient(at 32% 33%, hsl(0, 0%, 96%) 0, transparent 51%),
        radial-gradient(at 81% 10%, hsl(240, 2%, 91%) 0, transparent 43%),
        radial-gradient(at 11% 34%, hsl(160, 30%, 96%) 0, transparent 42%),
        radial-gradient(at 97% 62%, hsl(120, 9%, 94%) 0, transparent 50%),
        radial-gradient(at 32% 18%, hsl(340, 16%, 96%) 0, transparent 54%);
}

.text-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsl(0, 0%, 100%) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(23, 24, 24) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

